html,body{
  height : 100%;
  margin : 0; 
  padding : 0;
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg{
  display: flex;
  gap : 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 90vh;
  
}
.writingarea
{
  display: flex;
  flex-basis: 1;
}
textarea 
{
  min-width: 50%;
  min-height: 70%;
  border-radius: 10px;
  font-size: 2vh;
  opacity : 0.6;
  
}
textarea:focus
{
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
        border-radius: 10 px;
        background-color: #000;
        color : #fff;
        opacity : 1; 
}
.submit
{
  align-self: flex-end;
  margin-right: 19.78%;
  margin-top: 10px;
  padding : 10px;
  width : 100px;
  background-color: beige;
  border-radius: 10%;
  color:black;
  border:none;
}
.container
{
  display: flex;
  flex-wrap: wrap;
  gap : 8px;
}

.child
{
  flex-grow: 1;
  flex-basis: calc(33.33% - 16px);
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 100px;
  margin: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.child:hover{
  background-color: #dcdcdc;
}
.datetitle{
  flex-basis : 0.2;
}
.desc
{
  flex-basis: 0.7;
  overflow: hidden;
}
.noentry
{
  display: flex;
  flex-basis: 1;
  justify-content: center;
}